{
  "openapi": "3.1.0",
  "info": {
    "title": "Quantyra GeoIDX API",
    "description": "OpenAPI document for the **idx-api** Go service (Fiber): PAT auth, versioned Bridge/Spark MLS proxy (`/api/v1/*`), GIS parcel GeoJSON, hybrid search, comps engine, replication stats, and listing photos (`/images/*`). This collection covers JSON/API endpoints only and intentionally excludes HTML/session dashboard pages (`/login`, `/dashboard/*`, `/invite/*`) plus static assets (`/static/*`). Routes are registered in `internal/api/routes.go` and `internal/handler/dashboard/handler.go`.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://idx.quantyralabs.cc",
      "description": "Production (`IDX_PLATFORM_URL` / `IDX_API_PUBLIC_URL` — API and dashboard on the platform host)"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Go API (`make run-api` or `go run ./cmd/api`, default port 8000)"
    }
  ],
  "tags": [
    { "name": "Infrastructure", "description": "Health, readiness, and metrics endpoints. No authentication required." },
    { "name": "Authentication", "description": "`POST /api/auth/token` and `GET /api/auth/user` (dashboard PAT / machine login)." },
    { "name": "MLS Data - Listings", "description": "Bridge-backed Property and listing resources (`domain.token` + `mls.access`)." },
    { "name": "MLS Data - Agents & Offices", "description": "Agents, offices, and RESO office resources." },
    { "name": "MLS Data - Open Houses", "description": "Open house collections and RESO open house resources." },
    { "name": "MLS Data - Members & Lookup", "description": "Members and lookup helpers." },
    { "name": "MLS Data - Public Records", "description": "Public parcels, assessments, and transactions under `/api/v1/pub/*`." },
    { "name": "MLS Data - Search", "description": "`POST /api/v1/search` hybrid PostGIS + live RESO search. See `docs/idx-api-bridge-proxy.md#search-endpoint-post-apiv1search` for field list, aliases, and parsing rules." },
    { "name": "Comps Engine", "description": "`POST /api/v1/comps/run` comparables, investor modes, BPO, and home value." },
    { "name": "GIS Parcel Proxy", "description": "`GET /api/v1/gis`, MLS-scoped GIS, and `GET /api/v1/gis/autocomplete/*` city/county suggestions (requires migration 00007 `pg_trgm`)." },
    { "name": "Operations", "description": "Replication / mirror statistics for operators." },
    { "name": "Admin", "description": "Operator-only endpoints guarded by dashboard session (`SessionAuthMiddleware`). Requires a valid session cookie from `POST /login`." },
    { "name": "Images", "description": "Streaming Bridge/Spark listing photos through the API (same auth as Bridge JSON). Actual path prefix: `/images/` (not `/api/images/`)." }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer PAT on routes guarded by `DomainToken` middleware (`/api/v1/*`, `/images/*`). Abilities: **`idx:full`** (issued by `POST /api/auth/token`) or **`idx:access`**. Always pair with `domainSlugAuth` (`X-Domain-Slug` header) or the `?domain=` query parameter."
      },
      "domainSlugAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Domain-Slug",
        "description": "TXT-verified domain slug required alongside `bearerAuth` for all DomainToken-protected routes (`/api/v1/*`, `/images/*`). Must match a verified domain on the token owner's account. The `?domain=` query parameter is an equivalent alternative accepted by the same middleware. Not required for `/api/auth/user` (token-only) or admin session endpoints."
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "test@example.com" },
          "password": { "type": "string", "example": "password" }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": { "type": "string", "description": "Plaintext API token (SHA-256 stored). Use as `Bearer <token>` in Authorization header.", "example": "abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890" },
          "abilities": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["idx:full"]
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string" }
        }
      },
      "ListingsResponse": {
        "type": "object",
        "description": "Bridge Data Output web API envelope for GET /api/v1/listings (not OData `value`). RESO OData routes use a separate shape.",
        "properties": {
          "pricing": {
            "type": "object",
            "description": "Global quote matrix used for listing-level conversion output (when include_pricing=1).",
            "properties": {
              "status": { "type": "string", "example": "ok" },
              "as_of": { "type": "string", "format": "date-time", "nullable": true },
              "quotes": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "bundle": {
            "type": "array",
            "description": "Listing objects from Bridge web API.",
            "items": {
              "type": "object",
              "properties": {
                "ListPrice": { "type": "number", "nullable": true },
                "pricing_converted": {
                  "type": "object",
                  "properties": {
                    "base_currency": { "type": "string", "example": "usd" },
                    "fiat": {
                      "type": "object",
                      "additionalProperties": { "type": "number" }
                    },
                    "digital_assets": {
                      "type": "object",
                      "additionalProperties": { "type": "number" }
                    }
                  }
                }
              },
              "additionalProperties": true
            }
          },
          "status": { "type": "integer", "example": 200 },
          "success": { "type": "boolean", "example": true },
          "total": { "type": "integer", "example": 4708105, "description": "Total listings matching the upstream query." }
        }
      },
      "GisResponse": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "example": "FeatureCollection" },
          "features": {
            "type": "array",
            "items": { "type": "object" }
          }
        }
      },
      "CityAutocompleteSuggestion": {
        "type": "object",
        "properties": {
          "city": { "type": "string", "example": "Tampa" },
          "county": { "type": "string", "example": "Hillsborough" },
          "county_slug": { "type": "string", "example": "hillsborough" },
          "label": { "type": "string", "example": "Tampa | Hillsborough", "description": "Display label: city | county." }
        }
      },
      "CountyAutocompleteSuggestion": {
        "type": "object",
        "properties": {
          "county": { "type": "string", "example": "Pinellas" },
          "county_slug": { "type": "string", "example": "pinellas" },
          "label": { "type": "string", "example": "Pinellas" }
        }
      },
      "MonitoringSnapshot": {
        "type": "object",
        "description": "Live monitoring snapshot from `internal/service/dashboard.MonitoringService`.",
        "additionalProperties": true
      },
      "FloodEnrichRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "Batch size override. When omitted or 0, enqueues a full kickoff job. When > 0, enqueues a single limited batch (capped at `FEMA_ENRICH_BATCH_SIZE`).",
            "example": 500
          },
          "dataset_slug": {
            "type": "string",
            "description": "Optional dataset filter (e.g. `stellar`, `beaches`). Omit to process all datasets.",
            "example": "stellar"
          }
        }
      },
      "FloodEnrichResponse": {
        "type": "object",
        "properties": {
          "enqueued": { "type": "boolean" },
          "stale_estimate": { "type": "integer", "description": "Approximate count of listings missing flood zone enrichment." }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/healthz": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Liveness probe",
        "description": "Returns `{\"status\":\"ok\"}`. No auth required. Used by load balancers and container orchestrators.",
        "responses": {
          "200": {
            "description": "Service is live",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "status": { "type": "string", "example": "ok" } }
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Readiness probe",
        "description": "Pings the primary PostgreSQL connection with a 3-second timeout. Returns PostGIS version on success. Returns 503 when the database is unreachable.",
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ready": { "type": "boolean" },
                    "postgis": { "type": "string", "example": "3.4.0" }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ready": { "type": "boolean", "example": false },
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/replicas": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Read replica health",
        "description": "Returns a snapshot of the read replica selector state (healthy replicas, selected replica, fallback status). Returns 503 when the selector is not configured or the primary ping fails with fallback active.",
        "responses": {
          "200": {
            "description": "Replica selector snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "replicas": { "type": "array", "items": { "type": "string" } },
                    "selected": { "type": "string" },
                    "fallback_active": { "type": "boolean" }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "Replica selector not configured or primary unavailable",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Prometheus metrics",
        "description": "Exposes Go runtime and application metrics in Prometheus text format. Scraped by Prometheus/Grafana in production. No authentication required.",
        "responses": {
          "200": {
            "description": "Prometheus metrics text",
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/api/auth/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login - Get API Token",
        "description": "Authenticate and obtain a bearer PAT with `idx:full` abilities. Use the returned `token` in the `Authorization: Bearer <token>` header together with `X-Domain-Slug` or `?domain=` for `/api/v1/*` calls.\n\n**Test credentials (local / `make seed-admin`):**\n- Email: from `ADMIN_SEED_EMAIL` in `.env`\n- Password: from `ADMIN_SEED_PASSWORD` in `.env`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/auth/user": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get Current User",
        "description": "Returns the authenticated user's `id`, `name`, and `email`. Validates the `Authorization: Bearer <token>` header directly — **not** through DomainToken middleware, so no domain slug is required.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Authenticated user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/listings": {
      "get": {
        "tags": ["MLS Data - Listings"],
        "summary": "Get Listings",
        "description": "Get MLS listings for the resolved MLS feed (Bridge web collection when `filters` is set; merged Active/Pending Bridge RESO slice when `filters` is absent). Responses include top-level `pricing` and per-row `pricing_converted` when `ListPrice` is present and `include_pricing=1` is passed. **Collection cache:** 15-minute TTL applies per domain when **`filters` is absent**; any `filters` query parameter bypasses the cache and forwards to the upstream MLS. Standard Bridge/Spark query parameters are passed through. Responds with `X-IDX-Cache: HIT|MISS`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "X-Domain-Slug",
            "in": "header",
            "required": false,
            "schema": { "type": "string", "example": "example-com" },
            "description": "Domain slug (alternative to `?domain=` query param). Must match a verified domain on the token owner's account."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "example": "example-com" },
            "description": "Domain slug (alternative to `X-Domain-Slug` header)."
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["stellar", "beaches"], "example": "stellar" },
            "description": "MLS dataset override. Must be enabled for the requesting domain."
          },
          {
            "name": "include_pricing",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["1"] },
            "description": "When `1`, injects top-level `pricing` and per-listing `pricing_converted` from the crypto pricing reader."
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Any non-empty value bypasses the cache and proxies directly to the upstream MLS web endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Listings retrieved successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListingsResponse" }
              }
            }
          },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Forbidden — domain/token mismatch or dataset not allowed" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/listings/{listingId}": {
      "get": {
        "tags": ["MLS Data - Listings"],
        "summary": "Get Listing by ID",
        "description": "Get a specific MLS listing by its web ID. Listing payload includes `pricing_converted` when `include_pricing=1` is passed and `ListPrice` is available. Response body is sanitized (expanded collections normalized).",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The listing identifier (Bridge web listing ID)"
          },
          {
            "name": "include_pricing",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["1"] }
          }
        ],
        "responses": {
          "200": { "description": "Listing details" },
          "401": { "description": "Unauthenticated" },
          "404": { "description": "Listing not found" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/properties": {
      "get": {
        "tags": ["MLS Data - Listings"],
        "summary": "Search Properties (RESO OData)",
        "description": "Proxy to RESO `/Property` collection. All OData query parameters (`$filter`, `$top`, `$select`, `$expand`, etc.) are passed through to Bridge or Spark.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "schema": { "type": "string", "enum": ["stellar", "beaches"] }
          },
          {
            "name": "$filter",
            "in": "query",
            "schema": { "type": "string" },
            "example": "City eq 'Orlando'"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": { "type": "integer", "default": 10 },
            "description": "Max results to return"
          },
          {
            "name": "$select",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Comma-separated RESO field list"
          },
          {
            "name": "city",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Convenience filter translated to `$filter=City eq '<city>'`"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 200 },
            "description": "Convenience page size translated to `$top`"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Opaque pagination token (base64 JSON with top/skip) translated to `$top`/`$skip`"
          }
        ],
        "responses": {
          "200": { "description": "RESO Property collection" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream MLS error" }
        }
      },
      "post": {
        "tags": ["MLS Data - Listings"],
        "summary": "Search Properties (JSON body convenience)",
        "description": "Compatibility endpoint that accepts a JSON body and translates convenience fields (`city`, `limit`) to RESO OData, then proxies to the upstream MLS.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "city": { "type": "string", "example": "Largo" },
                  "limit": { "type": "integer", "minimum": 1, "maximum": 200, "example": 10 }
                }
              },
              "examples": {
                "single_city": {
                  "summary": "Single city search",
                  "value": { "city": "Largo", "limit": 10 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "RESO Property collection" },
          "400": { "description": "Invalid request parameters" },
          "401": { "description": "Unauthenticated" }
        }
      }
    },
    "/api/v1/properties/{listingKey}": {
      "get": {
        "tags": ["MLS Data - Listings"],
        "summary": "Get Property by Key (RESO OData)",
        "description": "Proxy to RESO `Property('<listingKey>')`. Supports `$expand` and `$select`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "listingKey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "RESO Property entity" },
          "404": { "description": "Not found" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/agents": {
      "get": {
        "tags": ["MLS Data - Agents & Offices"],
        "summary": "Get Agents",
        "description": "Proxy to Bridge/Spark web agents collection. Standard query parameters (`limit`, OData `$filter`, etc.) are passed through. Auth: `Authorization: Bearer <token>` + `X-Domain-Slug` or `?domain=`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "dataset", "in": "query", "required": false, "schema": { "type": "string", "enum": ["stellar", "beaches"] } }
        ],
        "responses": {
          "200": { "description": "Agent list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/agents/{agentId}": {
      "get": {
        "tags": ["MLS Data - Agents & Offices"],
        "summary": "Get Agent by ID",
        "description": "Proxy to Bridge/Spark web agent by numeric ID.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Agent details" },
          "404": { "description": "Not found" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/offices": {
      "get": {
        "tags": ["MLS Data - Agents & Offices"],
        "summary": "Get Offices",
        "description": "Proxy to Bridge/Spark web offices collection. Auth: `Authorization: Bearer <token>` + `X-Domain-Slug` or `?domain=`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "dataset", "in": "query", "required": false, "schema": { "type": "string", "enum": ["stellar", "beaches"] } }
        ],
        "responses": {
          "200": { "description": "Office list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/offices/{officeId}": {
      "get": {
        "tags": ["MLS Data - Agents & Offices"],
        "summary": "Get Office by ID",
        "description": "Proxy to Bridge/Spark web office by numeric ID.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "officeId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Office details" },
          "404": { "description": "Not found" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/reso-offices": {
      "get": {
        "tags": ["MLS Data - Agents & Offices"],
        "summary": "Get RESO Offices",
        "description": "Proxy to RESO `Office` collection via Bridge or Spark OData endpoint. Standard OData parameters (`$filter`, `$top`, `$select`) are passed through.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "dataset", "in": "query", "required": false, "schema": { "type": "string", "enum": ["stellar", "beaches"] } }
        ],
        "responses": {
          "200": { "description": "RESO office list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/reso-offices/{officeKey}": {
      "get": {
        "tags": ["MLS Data - Agents & Offices"],
        "summary": "Get RESO Office by Key",
        "description": "Proxy to RESO `Office('<officeKey>')` entity by RESO OfficeKey.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "officeKey", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "RESO office details" },
          "404": { "description": "Not found" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/openhouses": {
      "get": {
        "tags": ["MLS Data - Open Houses"],
        "summary": "Get Open Houses",
        "description": "Proxy to Bridge/Spark web open houses collection. Auth: `Authorization: Bearer <token>` + `X-Domain-Slug` or `?domain=`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "dataset", "in": "query", "required": false, "schema": { "type": "string", "enum": ["stellar", "beaches"] } }
        ],
        "responses": {
          "200": { "description": "Open house list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/openhouses/{openhouseId}": {
      "get": {
        "tags": ["MLS Data - Open Houses"],
        "summary": "Get Open House by ID",
        "description": "Proxy to Bridge/Spark web open house by numeric ID.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "openhouseId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Open house details" },
          "404": { "description": "Not found" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/reso-openhouses": {
      "get": {
        "tags": ["MLS Data - Open Houses"],
        "summary": "Get RESO Open Houses",
        "description": "Proxy to RESO `OpenHouse` collection via Bridge or Spark OData endpoint. Standard OData parameters (`$filter`, `$top`, `$select`) are passed through.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "dataset", "in": "query", "required": false, "schema": { "type": "string", "enum": ["stellar", "beaches"] } }
        ],
        "responses": {
          "200": { "description": "RESO open house list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/reso-openhouses/{openHouseKey}": {
      "get": {
        "tags": ["MLS Data - Open Houses"],
        "summary": "Get RESO Open House by Key",
        "description": "Proxy to RESO `OpenHouse('<openHouseKey>')` entity by RESO OpenHouseKey.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "openHouseKey", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "RESO open house details" },
          "404": { "description": "Not found" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/members": {
      "get": {
        "tags": ["MLS Data - Members & Lookup"],
        "summary": "Get Members",
        "description": "Proxy to RESO `Member` collection (agent/member roster). Standard OData parameters are passed through. Auth: `Authorization: Bearer <token>` + `X-Domain-Slug` or `?domain=`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "dataset", "in": "query", "required": false, "schema": { "type": "string", "enum": ["stellar", "beaches"] } }
        ],
        "responses": {
          "200": { "description": "Member list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/members/{memberKey}": {
      "get": {
        "tags": ["MLS Data - Members & Lookup"],
        "summary": "Get Member by Key",
        "description": "Proxy to RESO `Member('<memberKey>')` entity by RESO MemberKey.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "memberKey", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Member details" },
          "404": { "description": "Not found" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/lookup": {
      "get": {
        "tags": ["MLS Data - Members & Lookup"],
        "summary": "RESO Lookup (enum metadata)",
        "description": "Proxy to the RESO `Lookup` collection — retrieves enum/picklist values (field names, accepted values, display labels) for the active MLS dataset. Both Bridge and Spark expose this endpoint. Responses are cached per domain using the MLS lookup cache partition (`MLS_LOOKUP_CACHE_TTL`). Auth: `Authorization: Bearer <token>` + `X-Domain-Slug` or `?domain=`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["stellar", "beaches"] },
            "description": "MLS dataset override."
          }
        ],
        "responses": {
          "200": { "description": "RESO Lookup enum/picklist collection" },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Forbidden — domain/token mismatch or dataset not allowed" },
          "502": { "description": "Upstream MLS error" }
        }
      }
    },
    "/api/v1/pub/parcels": {
      "get": {
        "tags": ["MLS Data - Public Records"],
        "summary": "Get Public Parcels",
        "description": "Proxy to the Bridge Public Records `/pub/parcels` collection. Returns parcel records with property identifiers, county data, and assessment linkage. Auth: `Authorization: Bearer <token>` + `X-Domain-Slug` or `?domain=`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "responses": {
          "200": { "description": "Parcel list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream Bridge error" }
        }
      }
    },
    "/api/v1/pub/parcels/{parcelId}": {
      "get": {
        "tags": ["MLS Data - Public Records"],
        "summary": "Get Parcel by ID",
        "description": "Proxy to Bridge `PublicRecord/Property('<parcelId>')`. Returns a single parcel with assessments and transaction linkage.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "parcelId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Parcel details" },
          "404": { "description": "Parcel not found" },
          "502": { "description": "Upstream Bridge error" }
        }
      }
    },
    "/api/v1/pub/parcels/{parcelId}/assessments": {
      "get": {
        "tags": ["MLS Data - Public Records"],
        "summary": "Get Parcel Assessments",
        "description": "Proxy to Bridge public records assessments for a specific parcel. Returns year-by-year assessment values.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "parcelId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Parcel assessment records" },
          "502": { "description": "Upstream Bridge error" }
        }
      }
    },
    "/api/v1/pub/parcels/{parcelId}/transactions": {
      "get": {
        "tags": ["MLS Data - Public Records"],
        "summary": "Get Parcel Transactions",
        "description": "Proxy to Bridge public records sale/transfer transactions for a specific parcel.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          { "name": "parcelId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Parcel transaction records" },
          "502": { "description": "Upstream Bridge error" }
        }
      }
    },
    "/api/v1/pub/assessments": {
      "get": {
        "tags": ["MLS Data - Public Records"],
        "summary": "Get Public Assessments",
        "description": "Proxy to Bridge public records assessment collection (all parcels). Standard OData parameters are passed through.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "responses": {
          "200": { "description": "Assessment list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream Bridge error" }
        }
      }
    },
    "/api/v1/pub/transactions": {
      "get": {
        "tags": ["MLS Data - Public Records"],
        "summary": "Get Public Transactions",
        "description": "Proxy to Bridge public records transaction collection (all parcels). Standard OData parameters are passed through.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "responses": {
          "200": { "description": "Transaction list" },
          "401": { "description": "Unauthenticated" },
          "502": { "description": "Upstream Bridge error" }
        }
      }
    },
    "/api/v1/search": {
      "post": {
        "tags": ["MLS Data - Search"],
        "summary": "Structured MLS Search",
        "description": "Hybrid MLS search: Active/Pending from PostGIS `listings` mirror when possible; Closed and special filters from live Bridge/Spark OData.\n\n**Dataset:** `?dataset=stellar|beaches` (query param, not JSON body).\n\n**Parsing:** Prefer JSON numbers/booleans. String numbers (`\"250000\"`) and booleans (`\"true\"`) are accepted. Empty strings omit a filter. Blank `statuses` entries are stripped. Aliases: `min_beds`↔`beds_min`, `max_beds`↔`beds_max`, `min_baths`↔`baths_min`, `min_sqft`↔`living_area_min`, `max_sqft`↔`living_area_max`. Pagination: `limit`/`skip` or `page.limit`/`page.skip`.\n\n**Mirror filters:** `low_risk_floodzone` → `low_risk_flood_zone_yn`; `min_monthly_fees`/`max_monthly_fees` → `estimated_total_monthly_fees`. Geography: `city` / `county_or_parish` (GIS autocomplete + LIKE).\n\n**Ignored (reserved):** `focus_areas`, `sort`, `sort_dir`, `geo`, `property_types` (array), and other legacy example fields.\n\n**Response:** `{ results, hasMore, nextSkip }`. Mirror leg sorts by `modification_timestamp` desc.\n\nSee `docs/idx-api-bridge-proxy.md#search-endpoint-post-apiv1search`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "example": "stellar" },
            "description": "Optional MLS dataset override. Must be globally configured and enabled for the requesting domain/site."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Implemented filters for POST /api/v1/search (Go SearchRequest). Reserved fields may appear in older examples but are ignored.",
                "properties": {
                  "statuses": {
                    "type": "array",
                    "items": { "type": "string" },
                    "example": ["Active"],
                    "description": "StandardStatus values. Empty strings in the array are stripped."
                  },
                  "active_only": { "type": "boolean", "example": true },
                  "min_price": { "type": "number", "example": 250000 },
                  "max_price": { "type": "number", "example": 600000 },
                  "min_beds": { "type": "integer", "example": 2, "description": "Alias: beds_min" },
                  "max_beds": { "type": "integer", "example": 5, "description": "Alias: beds_max" },
                  "beds_min": { "type": "integer", "example": 2, "description": "Alias: min_beds" },
                  "beds_max": { "type": "integer", "example": 5, "description": "Alias: max_beds" },
                  "min_baths": { "type": "number", "example": 2, "description": "Alias: baths_min" },
                  "min_sqft": { "type": "integer", "example": 1500, "description": "Alias: living_area_min" },
                  "max_sqft": { "type": "integer", "example": 4200, "description": "Alias: living_area_max" },
                  "min_lot_size_acres": { "type": "number", "example": 0.25 },
                  "min_year_built": { "type": "integer", "example": 1990 },
                  "property_type": { "type": "string", "example": "Residential" },
                  "property_sub_type": { "type": "string", "example": "Single Family Residence" },
                  "city": { "type": "string", "example": "Largo", "description": "GIS autocomplete expansion + LIKE on city/county." },
                  "county_or_parish": { "type": "string", "example": "Pinellas" },
                  "postal_code": { "type": "string", "example": "33770" },
                  "remarks_query": { "type": "string", "example": "pool spa", "description": "Full-text on public_remarks (mirror leg)." },
                  "pool_private": { "type": "boolean", "example": true },
                  "waterfront": { "type": "boolean", "example": true },
                  "lat": { "type": "number", "example": 27.916 },
                  "lng": { "type": "number", "example": -82.769 },
                  "radius_miles": { "type": "number", "example": 8 },
                  "price_reduced_within_days": { "type": "integer", "example": 30, "description": "Forces live upstream leg when set." },
                  "low_risk_floodzone": { "type": "boolean", "example": true, "description": "Mirror leg: low_risk_flood_zone_yn = true (FEMA-enriched)." },
                  "min_monthly_fees": { "type": "number", "example": 100 },
                  "max_monthly_fees": { "type": "number", "example": 500 },
                  "limit": { "type": "integer", "example": 24, "description": "Default 50, max 200." },
                  "skip": { "type": "integer", "example": 0 },
                  "page": {
                    "type": "object",
                    "description": "Alternative to top-level limit/skip.",
                    "properties": {
                      "limit": { "type": "integer", "example": 24 },
                      "skip": { "type": "integer", "example": 0 }
                    }
                  },
                  "focus_areas": {
                    "type": "array",
                    "deprecated": true,
                    "description": "RESERVED — not implemented; use city or county_or_parish.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": { "type": "string" },
                        "name": { "type": "string" }
                      }
                    }
                  },
                  "sort": { "type": "string", "deprecated": true, "description": "RESERVED — ignored; mirror sorts by modification_timestamp desc." },
                  "sort_dir": { "type": "string", "deprecated": true, "description": "RESERVED — ignored." }
                }
              },
              "examples": {
                "baseline_active": {
                  "summary": "Baseline active listings",
                  "value": {
                    "active_only": true,
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "largo_price_beds_fees": {
                  "summary": "Largo — price, beds, flood, HOA cap",
                  "value": {
                    "min_price": 250000,
                    "min_beds": 2,
                    "city": "Largo",
                    "statuses": ["Active"],
                    "low_risk_floodzone": true,
                    "max_monthly_fees": 500,
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "string_typed_filters": {
                  "summary": "String-encoded numbers (client compatibility)",
                  "value": {
                    "min_price": "250000",
                    "min_beds": "2",
                    "max_monthly_fees": "500",
                    "low_risk_floodzone": "true",
                    "city": "Largo",
                    "statuses": ["Active", ""],
                    "page": { "limit": "24", "skip": "0" }
                  }
                },
                "city_and_county": {
                  "summary": "City + county geography (implemented)",
                  "value": {
                    "city": "Tampa",
                    "county_or_parish": "Hillsborough",
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "postal_code_filter": {
                  "summary": "Postal code exact match",
                  "value": {
                    "postal_code": "33701",
                    "statuses": ["Active", "Pending"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "price_beds_baths_sqft": {
                  "summary": "Price + beds/baths + square footage",
                  "value": {
                    "min_price": 300000,
                    "max_price": 900000,
                    "min_beds": 3,
                    "max_beds": 5,
                    "min_baths": 2,
                    "max_baths": 4,
                    "min_sqft": 1600,
                    "max_sqft": 4200,
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "property_type_and_statuses": {
                  "summary": "Single property type/subtype + statuses",
                  "value": {
                    "property_type": "Residential",
                    "property_sub_type": "Single Family Residence",
                    "statuses": ["Active", "Pending"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "boolean_features": {
                  "summary": "Pool + waterfront (implemented booleans)",
                  "value": {
                    "waterfront": true,
                    "pool_private": true,
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "monthly_fees_and_year_built": {
                  "summary": "HOA fees + year built",
                  "value": {
                    "min_monthly_fees": 100,
                    "max_monthly_fees": 700,
                    "min_year_built": 1990,
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "flood_zone_and_price_reduction": {
                  "summary": "Flood zone + recent price reduction",
                  "value": {
                    "low_risk_floodzone": true,
                    "price_reduced_within_days": 30,
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "remarks_fulltext": {
                  "summary": "Public remarks full-text (mirror leg)",
                  "value": {
                    "remarks_query": "heated pool",
                    "city": "Largo",
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "geo_distance_radius": {
                  "summary": "Radius search (lat/lng/radius_miles)",
                  "value": {
                    "lat": 27.9506,
                    "lng": -82.4572,
                    "radius_miles": 8,
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "pagination_followup": {
                  "summary": "Second page (skip)",
                  "value": {
                    "city": "Largo",
                    "statuses": ["Active"],
                    "limit": 24,
                    "skip": 24
                  }
                },
                "dataset_override": {
                  "summary": "Dataset query param + city filter",
                  "description": "Send as POST /api/v1/search?dataset=stellar",
                  "value": {
                    "city": "Largo",
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                },
                "combined_real_world": {
                  "summary": "Combined filters (implemented fields only)",
                  "value": {
                    "county_or_parish": "Pinellas",
                    "city": "Largo",
                    "min_price": 350000,
                    "max_price": 1200000,
                    "min_beds": 3,
                    "min_baths": 2,
                    "property_type": "Residential",
                    "waterfront": true,
                    "low_risk_floodzone": true,
                    "max_monthly_fees": 600,
                    "statuses": ["Active"],
                    "page": { "limit": 24, "skip": 0 }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": { "type": "array", "items": { "type": "object" } },
                    "hasMore": { "type": "boolean" },
                    "nextSkip": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid JSON body (`invalid search body: …`) or bad filter values" },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Dataset not enabled for site or token/domain not permitted" }
        }
      }
    },
    "/api/v1/gis": {
      "get": {
        "tags": ["GIS Parcel Proxy"],
        "summary": "Get GIS Data (General)",
        "description": "Get GIS parcel geometry data for a bounding box. Returns GeoJSON FeatureCollection. Auth via `DomainToken` + `MLSAccess` (GIS access bypasses the feed check inside middleware).\n\n**Example bbox (Tampa Bay):** `-82.8,27.9,-82.6,28.0`",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Bounding box as `minLon,minLat,maxLon,maxLat` (max span: 0.35 degrees). Example: `-82.8,27.9,-82.6,28.0`"
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GisResponse" }
              }
            }
          },
          "400": { "description": "Invalid or missing bbox" },
          "401": { "description": "Unauthenticated" }
        }
      }
    },
    "/api/v1/mls/{mlsCode}/gis": {
      "get": {
        "tags": ["GIS Parcel Proxy"],
        "summary": "Get GIS Data (MLS-scoped)",
        "description": "Get GIS parcel data scoped to a specific MLS dataset code. Passes the `mlsCode` to `gissvc.Fetch` for provider-specific county/data-source selection.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "mlsCode",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "example": "stellar" }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Bounding box as `minLon,minLat,maxLon,maxLat`"
          }
        ],
        "responses": {
          "200": { "description": "GeoJSON FeatureCollection" },
          "400": { "description": "Invalid bbox" }
        }
      }
    },
    "/api/v1/gis/autocomplete/cities": {
      "get": {
        "tags": ["GIS Parcel Proxy"],
        "summary": "Autocomplete cities (city | county)",
        "description": "Fuzzy-match `gis_cities` rows (one row per city|county pair after county expansion). Used by search geography and typeahead UIs. Requires `pg_trgm` (Goose migration 00007). Auth: `DomainToken` + `MLSAccess` (GIS paths bypass feed check).",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "minLength": 1 },
            "description": "Search prefix or substring (case-insensitive, `pg_trgm`).",
            "example": "tam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 10 },
            "description": "Max suggestions (default 10)."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Verified domain slug (alternative to `X-Domain-Slug`). Not forwarded to MLS upstream."
          }
        ],
        "responses": {
          "200": {
            "description": "Array of city|county suggestions (empty array when no matches).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CityAutocompleteSuggestion" }
                },
                "example": [
                  {
                    "city": "Tampa",
                    "county": "Hillsborough",
                    "county_slug": "hillsborough",
                    "label": "Tampa | Hillsborough"
                  }
                ]
              }
            }
          },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Forbidden" },
          "502": { "description": "Database or GIS catalog error" }
        }
      }
    },
    "/api/v1/gis/autocomplete/counties": {
      "get": {
        "tags": ["GIS Parcel Proxy"],
        "summary": "Autocomplete counties",
        "description": "Fuzzy-match `gis_counties` by display name or slug. Requires `pg_trgm` (migration 00007).",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "minLength": 1 },
            "example": "pin"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 10 }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Verified domain slug (alternative to `X-Domain-Slug`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Array of county suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CountyAutocompleteSuggestion" }
                },
                "example": [
                  {
                    "county": "Pinellas",
                    "county_slug": "pinellas",
                    "label": "Pinellas"
                  }
                ]
              }
            }
          },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Forbidden" },
          "502": { "description": "Database or GIS catalog error" }
        }
      }
    },
    "/api/v1/bridge/stats": {
      "get": {
        "tags": ["Operations"],
        "summary": "Mirror / replication statistics",
        "description": "Per-dataset listing counts and `listing_sync_cursors` metadata for the local mirror. Includes all configured MLS datasets (e.g. `stellar`, `beaches`). Uses `domain.token` + `mls.access` middleware.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "responses": {
          "200": { "description": "JSON stats payload per configured MLS dataset slug" },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Forbidden" }
        }
      }
    },
    "/api/v1/comps/run": {
      "post": {
        "tags": ["Comps Engine"],
        "summary": "Run comparables, investor analysis, BPO, or home value",
        "description": "MLS comps engine (`internal/service/comps`). Modes **A–E**: sold + optional competition comps with adjustment grid. Premium modes: **`rent_hold_cashflow`**, **`flip_vs_hold`**, **`appraiser_simulation`**, **`bpo`** (14-line URAR grid + market-derived rates + renovation credits), **`home_value`** (BPO-style estimate + optional Google geocoding). Closed comps: live Bridge/Spark RESO; Active/Pending: PostGIS `listings` mirror. See [comps-api.md](comps-api.md). Optional `bpo_params`, `home_value_params`.",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subject", "mode", "scope"],
                "properties": {
                  "subject": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "enum": ["mls", "off_market"] },
                      "listing_id": { "type": "string", "example": "stellar:12345" },
                      "lat": { "type": "number", "example": 27.9506 },
                      "lng": { "type": "number", "example": -82.4572 },
                      "bedrooms": { "type": "number", "example": 3 },
                      "bathrooms": { "type": "number", "example": 2 },
                      "living_area_sqft": { "type": "integer", "example": 1850 },
                      "lot_size_sqft": { "type": "integer", "example": 8500 },
                      "garage_spaces": { "type": "integer", "example": 2 },
                      "monthly_fees": { "type": "number", "example": 250 },
                      "flood_zone_code": { "type": "string", "example": "X", "description": "Provider-neutral flood zone (CSV allowed). Deprecated alias: stellar_flood_zone_code." },
                      "stellar_flood_zone_code": { "type": "string", "deprecated": true, "description": "Merged into flood_zone_code when flood_zone_code omitted." },
                      "stellar_total_monthly_fees": { "type": "number", "deprecated": true, "description": "Merged into monthly_fees when monthly_fees omitted." }
                    }
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["A", "B", "C", "D", "E", "rent_hold_cashflow", "flip_vs_hold", "appraiser_simulation", "bpo", "home_value"]
                  },
                  "scope": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "enum": ["radius", "zip"] },
                      "radius_miles": { "type": "number", "example": 5 },
                      "postal_codes": { "type": "array", "items": { "type": "string" } }
                    }
                  },
                  "filters": { "type": "object" },
                  "rental_params": { "type": "object" },
                  "flip_params": { "type": "object" },
                  "simulation_params": { "type": "object" },
                  "bpo_params": { "type": "object", "description": "max_comps, sold_months_back, min_comps_for_regression, exclude_outlier_zscore, confidence_threshold" },
                  "home_value_params": { "type": "object", "description": "sold_months_back, max_comps" }
                }
              },
              "examples": {
                "mode_a_mls_radius": {
                  "summary": "Mode A sales comps by radius",
                  "value": {
                    "subject": { "type": "mls", "listing_id": "stellar:12345" },
                    "mode": "A",
                    "scope": { "type": "radius", "radius_miles": 5 },
                    "filters": {
                      "sold_months_back": 12,
                      "max_sold_comps": 12,
                      "match_garage_spaces": true,
                      "min_garage_spaces": 1
                    }
                  }
                },
                "mode_b_off_market_zip": {
                  "summary": "Mode B with off-market subject and zip scope",
                  "value": {
                    "subject": {
                      "type": "off_market",
                      "lat": 27.95,
                      "lng": -82.45,
                      "bedrooms": 3,
                      "bathrooms": 2,
                      "living_area_sqft": 1700,
                      "garage_spaces": 1
                    },
                    "mode": "B",
                    "scope": { "type": "zip", "postal_codes": ["33602", "33606"] },
                    "filters": { "max_sold_comps": 10 }
                  }
                },
                "mode_c_with_competition": {
                  "summary": "Mode C including active/pending competition",
                  "value": {
                    "subject": { "type": "mls", "listing_id": "stellar:12345" },
                    "mode": "C",
                    "scope": { "type": "radius", "radius_miles": 7 },
                    "filters": {
                      "include_active_pending": true,
                      "max_competition_comps": 20,
                      "include_overpriced_signals": true
                    }
                  }
                },
                "mode_d_neutral_keyword_scores": {
                  "summary": "Mode D with neutral keyword scoring",
                  "value": {
                    "subject": { "type": "mls", "listing_id": "stellar:12345" },
                    "mode": "D",
                    "scope": { "type": "radius", "radius_miles": 6 },
                    "filters": { "max_sold_comps": 8 }
                  }
                },
                "mode_e_neutral_keyword_scores": {
                  "summary": "Mode E with neutral keyword scoring",
                  "value": {
                    "subject": { "type": "mls", "listing_id": "stellar:12345" },
                    "mode": "E",
                    "scope": { "type": "radius", "radius_miles": 6 },
                    "filters": { "max_sold_comps": 8 }
                  }
                },
                "rent_hold_cashflow": {
                  "summary": "Investor rent-hold cashflow analysis",
                  "value": {
                    "subject": { "type": "mls", "listing_id": "stellar:12345" },
                    "mode": "rent_hold_cashflow",
                    "scope": { "type": "radius", "radius_miles": 8 },
                    "rental_params": {
                      "purchase_price": 450000,
                      "down_payment_percent": 20,
                      "interest_rate": 7.0,
                      "loan_term_years": 30,
                      "annual_tax": 5200,
                      "annual_insurance": 2400,
                      "monthly_hoa": 150
                    }
                  }
                },
                "flip_vs_hold": {
                  "summary": "Investor flip vs hold analysis",
                  "value": {
                    "subject": { "type": "mls", "listing_id": "stellar:12345" },
                    "mode": "flip_vs_hold",
                    "scope": { "type": "radius", "radius_miles": 8 },
                    "rental_params": { "purchase_price": 450000, "down_payment_percent": 20 },
                    "flip_params": {
                      "purchase_price": 450000,
                      "rehab_budget": 50000,
                      "holding_months": 6,
                      "closing_costs_sell_pct": 7
                    }
                  }
                },
                "appraiser_simulation": {
                  "summary": "Appraiser simulation with BPO band and risk",
                  "value": {
                    "subject": { "type": "mls", "listing_id": "stellar:12345" },
                    "mode": "appraiser_simulation",
                    "scope": { "type": "radius", "radius_miles": 5 },
                    "simulation_params": {
                      "supporting_comp_count": 8,
                      "high_adjustment_threshold_pct": 25
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Comps run completed" },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Forbidden (invalid/missing token or domain not verified)" },
          "422": { "description": "Validation error — missing required fields or invalid mode" }
        }
      }
    },
    "/dashboard/monitoring/data": {
      "get": {
        "tags": ["Admin"],
        "summary": "Dashboard monitoring data feed [DEPRECATED]",
        "description": "HTML-dashboard JSON feed consumed by the operator monitoring page (`/dashboard/monitoring`). Returns the same live monitoring snapshot as `GET /api/v1/admin/monitoring`. Guarded by dashboard session cookie (`session_id`). **Deprecated:** use `GET /api/v1/admin/monitoring` for scripted or external access — it is equivalent and will be kept stable.",
        "deprecated": true,
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "cookie",
            "required": true,
            "schema": { "type": "string" },
            "description": "Dashboard session cookie set by `POST /login`."
          }
        ],
        "responses": {
          "200": {
            "description": "Live monitoring snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MonitoringSnapshot" }
              }
            }
          },
          "401": {
            "description": "No valid session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/monitoring": {
      "get": {
        "tags": ["Admin"],
        "summary": "Monitoring snapshot (JSON)",
        "description": "Returns the same live monitoring snapshot served by `GET /dashboard/monitoring/data`. Requires a valid dashboard session cookie (`session_id`). Useful for scripted health checks from an authenticated browser or curl with `--cookie`.",
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "cookie",
            "required": true,
            "schema": { "type": "string" },
            "description": "Dashboard session cookie set by `POST /login`."
          }
        ],
        "responses": {
          "200": {
            "description": "Live monitoring snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MonitoringSnapshot" }
              }
            }
          },
          "401": {
            "description": "No valid session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/flood-enrich": {
      "post": {
        "tags": ["Admin"],
        "summary": "Enqueue FEMA flood enrichment",
        "description": "Enqueues a FEMA flood zone enrichment job for listings missing `flood_zone_code`. **Without `limit`**: enqueues a full kickoff job (respects `FEMA_ENRICH_BATCH_SIZE`). **With `limit` > 0**: enqueues a single bounded batch (capped at `FEMA_ENRICH_BATCH_SIZE`). Returns the stale listing estimate regardless. Requires a dashboard session cookie.",
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "cookie",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FloodEnrichRequest" },
              "examples": {
                "full_kickoff": {
                  "summary": "Full kickoff for all datasets",
                  "value": {}
                },
                "limited_batch_stellar": {
                  "summary": "Bounded batch for stellar only",
                  "value": { "limit": 500, "dataset_slug": "stellar" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job enqueued (or kickoff attempted)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FloodEnrichResponse" }
              }
            }
          },
          "400": { "description": "Invalid JSON body" },
          "401": { "description": "No valid session" },
          "500": { "description": "Failed to count stale listings or enqueue job" }
        }
      }
    },
    "/images/{listingKey}/{photoId}": {
      "get": {
        "tags": ["Images"],
        "summary": "Stream a listing photo",
        "description": "Streams listing photos through idx-api (`internal/handler/images`). Backed by a local NVMe disk cache (keyed by SHA-256 of `listingKey/photoId`); cache miss proxies to Bridge or Spark `MediaURL`. Sets `Cache-Control: public, max-age=31536000, immutable` and `X-IDX-Proxied-Public-Url` on both cache hit and miss.\n\n**Path prefix is `/images/` — not `/api/images/`.** Clients typically route through the `idx-images` edge host; this documents the API-host path directly.\n\nAuth via `DomainToken` middleware (same as `/api/v1/*`).",
        "security": [{ "bearerAuth": [], "domainSlugAuth": [] }],
        "parameters": [
          {
            "name": "listingKey",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^[A-Za-z0-9_-]+$" }
          },
          {
            "name": "photoId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^[A-Za-z0-9_-]+$" },
            "description": "For Spark feeds: the `MediaKey` value from `listings.media` JSONB."
          }
        ],
        "responses": {
          "200": {
            "description": "Image bytes (upstream `Content-Type`; long-cache headers set).",
            "content": {
              "image/jpeg": { "schema": { "type": "string", "format": "binary" } },
              "image/png": { "schema": { "type": "string", "format": "binary" } },
              "application/octet-stream": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Forbidden" },
          "502": { "description": "Image upstream error (origin returned 4xx/5xx or connection failed)" }
        }
      }
    }
  }
}
